# Binarios y ejecutables
*.exe
*.out
*.o
*.so

# Carpetas de compilación
/build/
/bin/
/obj/

# Archivos de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Configuración específica del usuario
.vscode/*
!.vscode/tasks.json
*.code-workspace
*.log
